* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketchPad {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    width: 40%;
    aspect-ratio: 1 / 1;
}

.gridBox {
    box-sizing: border-box;
    border: 1px solid gray;
}